/* 顯示右下角的 */
.bottom-part{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 1.25rem;
}

.bg-own{
    background-color: #C9C15E!important;
}

.carbox{
    background-color: bisque;
}

.open{
    height: 30rem;
    width: 25rem;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title{
    min-width: 10rem;
    padding: 5px;
    text-align: center;
}

.box-body{
    background-color: white;
    height: 100%;
    overflow: auto;
}

.bottom-inline{
    width: 90%;
    position: absolute;
    bottom: 10px;
}

